-# coding: UTF-8

%div.container#activity
  %h2
    さーくる MotiPizzaの活動
  %div.row.offset1
    %h3< MotiPizzaとはなにか！
    %div.span3
      %img{:src=>'img/circle_icon.jpg'}
    %div.span5
      %p< MotiPizzaはメンバーが個人的に盛り上げていきたい技術情報を年に2回行われるコミックマーケットで紹介するサークルです。
      %p<
        現在取り扱っている情報は主に LLVM に関する情報ですが、特に限定しているわけではありません。
        LLVMに興味がある方や本サークルの活動に興味のある方はぜひ一緒にやりましょう！
  %div.row.offset1
    %h3< 現在興味があるもの
    %ul
      %li< 
        %p< LLVM/Clang (餅,風)
      %li< 
        %p< OpenFlow (餅)
      %li<
        %p< 自作OSとか (風)
  %div.row.offset1
    %h3< バナーリンク
    %p
      当サイトへのリンクはご自由にどうぞ。下記バナーはご自由にお使い下さい！
      %div.container
        %img{:src=>"/img/banner.png", :alt=>"バナーリンク", :style => 'padding-left: 0'}
    %textarea.span8{:style => 'background: none repeat scroll 0 0 #F0F8FF; border: 1px solid #AABBCC; resize: none; height: 40px;'}<>
      <a href="http://motipizza.com/" target="_blank"><img src="http://motipizza.com/img/banner.png" border="0" alt="MotiPizz"></a>
    
