-# coding: UTF-8

%div.container#catalog
  %div.row
    %h2.pull-left<= @catalog[:title]
    = haml :social_buttons
    
  %div.container
    %div.row
      %div.span7
        %h4< 達人出版会様より「きつねさんでもわかるLLVM」を販売させて頂きました
        .offset1.amazlet-box{:style => "margin-bottom:0px;"}
          .amazlet-image{:style => "float:left;margin:0px 12px 1px 0px;"}
            %a{:href => "http://tatsu-zine.com/books/llvm", :name => "amazletlink", :target => "_blank"}
              %img{:alt => "きつねさんでもわかるLLVM", :src => "http://tatsu-zine.com/images/books/68/cover_s.jpg", :style => "border: none;"}/
          .amazlet-info{:style => "line-height:120%;margin-bottom:10px"}
            .amazlet-name{:style => "margin-bottom:10px;line-height:120%"}
              %a{:href => "http://tatsu-zine.com/books/llvm", :name => "amazletlink", :target => "_blank"} きつねさんでもわかるLLVM【電子書籍】
            .amazlet-detail
              柏木餅子, 風薬
              %br
              達人出版会
              %br
              発行日: 2013-02-08
              %br
              対応フォーマット: EPUB, PDF
              %br
            .amazlet-sub-info{:style => "float:left;"}
              .amazlet-link{:style => "margin-top:5px"}
                %a{:href => "http://tatsu-zine.com/books/llvm", :name => "amazletlink", :target => "_blank"} 詳細を見る
          .amazlet-footer{:style => "clear:left"}

        %p
          ずっと要望を出していた皆様、お待たせしました。ようやく念願の電子書籍化ができました！
          %a{:href => 'http://tatsu-zine.com/'}<> 達人出版会様
          よりご購入頂けます。是非よろしくお願いします。

        %p
          前回の「
          %a{:href => '/catalog/c83'}<> きつねさんとおぼえるLLVM
          」から大きな内容の変更はありませんが、誤字脱字の修正と電子書籍向けのデザイン変更を行いました。
          現時点では内容に追加はありませんが、今後も新しい発見があれば追記修正していくつもりですので、
          是非本作品をよろしくお願いします。

        %h4< 本書の概要
        %p
          LLVMというコンパイラ基盤に興味があるけどわからない,遊んでみたいという方向けにLLVMを使ったコンパイラを実際に作りながら紹介するという本になっています。
          フロントエンド(中間表現出力まで)、ミドルエンド(最適化)、バックエンド(オブジェクト生成)と幅広く解説していますので多くの方に有用な内容を含んでいるのではないかと思います。
          ただし、本書の内容が全て正しいという保証はありません。
          著者二人が趣味で遊んでいて、知っていることをまとめた程度だと思って頂いて構いません。
          本書のボリュームからわかる通り非常に多くの内容を詰め込んでいますので、
          それらを参考に改めて確認して頂ければ一から学習するよりも理解が早くなると思います。

        %h4< ご意見・ご感想など
        %p
          ご意見・ご感想などはTwitter上でそのままつぶやいて頂いても構いません。ほとんどの場合はこちらは見ていると思います。
          もちろん直接ご連絡頂けると非常にうれしいです。
          %a{:href => 'https://docs.google.com/forms/d/1be7ViUIsdW2COMcRTTH93EDaXCWSXc8e9e-bTtBiRUI/viewform'}<> 報告用フォーム
          (注:Google Docs)からも投稿可能です。
          現状ではまだベータ版となっていますので意見を取り込んで改善していきたいと思っています。
        %p
          %a{:href => 'http://booklog.jp/item/10/llvm'}<> ブクログ
          で登録できますのでこちらを利用して頂いても構いません！

        %h4< 誤字・脱字修正情報
        %p
          %a{:href => '/catalog/eb-kitsune/eratta'}<> こちら
          に修正情報をまとめました。


      %div.span5
        %img{:src=> "#{@catalog[:img]}", :alt=>"#{@catalog[:title]}"}
        %h3< 章構成
        %ul
          %li< はじめに
          %ul
            %li< 本書の構成
            %li< この本で何ができるようになるの？
            %li< 本書の目的とターゲット層
            %li< 本書を読むにあたって必要となるもの
            %li< 本書内の記載について
            %li< お断り
          %li< コンパイラとLLVM
          %ul
            %li< 一般的なコンパイラのお話
            %li< LLVMプロジェクト
          %li< 環境構築
          %ul
            %li< 本章の概要と構成
            %li< 環境
            %li< インストール
            %li< ツールの種類と確認
          %li< LLVM IR
          %ul
            %li< 本章の概要と目的
            %li< LLVM IRの特徴
            %li< LLVM IR の構成
            %li< LLVM の型とLLVM アセンブリの主な命令
            %li< 基本的なLLVMの中間表現
            %li< 条件文
            %li< ループ文
            %li< アグリゲート型へのアクセス
            %li< Metadata
          %li< フロントエンドを作る
          %ul
            %li< 本章の概要
            %li< 構文規則の定義
            %li< 目標の設定
            %li< 字句解析
            %li< 構文解析
            %li< 意味解析
            %li< コード生成
            %li< main の作成
            %li< コンパイルと動作確認
            %li< mem2reg の適用と組込み関数の導入
            %li< JITをやってみる
            %li< Metadata を埋め込みたい場合
            %li< CommandLine ライブラリ
          %li< Passについて
          %ul
            %li< Passの概念
            %li< Passの種類
            %li< その他のPass に実装すべきもの
            %li< 簡単なPass を実装してみる
            %li< 適用されるPass を確認する
          %li< バックエンドを作る
          %ul
            %li< LLVMのバックエンドを学ぶ前に
            %li< LLVMのバックエンドって何するの？
            %li< バックエンドの流れ
            %li< 目標を決める
            %li< ターゲットの仕様を決める
            %li< TableGen
            %li< ターゲットのクラス構成
            %li< TableGenの記述(Sample.td)
            %li< 共通クラスの実装
            %li< SelectionDAGISelの実装
            %li< AsmPrinterの実装
            %li< フレーム処理の実装
            %li< Disassemblerの実装
            %li< その他の実装
            %li< コンパイルしよう！
            %li< バックエンドを作ってみて
          %li< あとがき
          %li< 索引
          %li< 参考資料

