-# coding: UTF-8

%ul#social-buttons
  %li<
    %a.twitter-share-button{:href => "https://twitter.com/share", "data-lang" => "ja"}< ツイート
  %li<
    %a.hatena-bookmark-button{"data-hatena-bookmark-layout" => "standard-balloon", :href => "http://b.hatena.ne.jp/entry/", :title => "このエントリーをはてなブックマークに追加"}
      %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "http://b.st-hatena.com/images/entry-button/button-only.gif", :style => "border: none;", :width => "20"}
